* {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::selection {
  background-color: #ff3130;
  color: #0c0c0c;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #0c0c0c;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #0c0c0c;
  padding: 0px 50px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 0;
  z-index: 1000;
}

.navbar .logo img {
  width: 100px;
  height: auto;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 30px;
}

.nav-links li {
  position: relative;
}

.nav-links a {
  display: inline-block;
  text-decoration: none;
  color: whitesmoke;
  font-size: 1.2rem;
  font-weight: 500;
  transition: color 0.3s ease, transform 0.3s ease;
}

.nav-links a:hover {
  color: #ff3130;
  transform: scale(1.1);
}

.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
  gap: 5px;
}

.hamburger span {
  width: 30px;
  height: 3px;
  background-color: whitesmoke;
  border-radius: 5px;
}

.nav-links a::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #ff3130;
  transition: width 0.3s ease-out;
}

.nav-links a:hover::after {
  width: 100%;
}

.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px;
  min-height: 100vh;
}

.hero-logo img {
  width: 700px;
  height: auto;
  margin-right: 50px;
}

.hero-content {
  max-width: 1000px;
}

.hero-content h1 {
  color: whitesmoke;
  font-size: 4em;
  font-weight: 500;
  margin-bottom: 1rem;
  line-height: 1.5;
}

.hero-content h1 strong {
  font-weight: bold;
  font-size: 5rem;
}

/* Classe reutilitzable per a subratllat amb hover i canvi de color */
.highlight {
  position: relative;
  display: inline-block;
  font-weight: bold;
  font-size: inherit; /* Hereda la mida de la font */
  transition: color 0.3s ease, transform 0.3s ease;
  cursor: default;
}

.highlight::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 0;
  height: 5px;
  background-color: #ff3130; /* Color inicial del subratllat */
  transition: width 0.3s ease-out;
}

.highlight:hover {
  color: #ff3130; /* Color del text quan es fa hover */
  transform: scale(1.05); /* Efecte de creixement del text */
}

.highlight:hover::after {
  width: 100%; /* Quan es fa hover, la línia de subratllat s'expandeix */
}

.hero-content p {
  color: whitesmoke;
  font-size: 2rem;
  margin-bottom: 4rem;
}

.button {
  display: inline-block;
  padding: 1rem 2rem;
  background-color: #ff3130;
  color: #ffd700;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
  transition: background-color 0.3s, transform 0.3s;
}

.button:hover {
  background-color: #c52727;
  transform: scale(1.1);
}

.title {
  display: block;
  font-size: 5rem;
  font-weight: bold;
  color: rgb(255, 49, 48);
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
  position: relative;
  width: fit-content;
}

.about-content p {
  color: whitesmoke;
  font-size: 2rem;
  margin-left: 20vh;
  margin-right: 20vh;
}

.about-content a {
  max-width: 150px;
  text-align: center;
  display: block;
  margin: 0 auto;
  margin-bottom: 150px;
}

.people {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 50px;
  margin: 50px 0;
}

.people div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #1a1a1a;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  max-width: 400px;
}

.people img {
  width: 100%;
  height: auto;
  border-radius: 10px;
  margin: 20px;
  object-fit: cover;
}

.people p {
  color: whitesmoke;
  font-size: 1.5rem;
  margin-top: 20px;
}

.team-content h2 {
  color: #ff3130;
  text-align: center;
  font-size: 2rem;
}

.team-content .title {
  margin-top: 10rem;
  font-size: 5rem;
}

.social-media {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  gap: 20px;
  font-size: 3rem;
  flex-direction: row;
  text-decoration: none;
}

.games-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 50px;
  margin: 50px 0;
}

.games-content div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #1a1a1a;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  max-width: 400px;
  transition: transform 0.3s;
}

.games-content div:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.games-content li {
  color: whitesmoke;
  text-align: left;
  margin-top: 2rem;
  font-size: 1.2rem;
}

.games-content img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  margin: 20px;
  object-fit: cover;
}

.games-content p {
  color: whitesmoke;
  font-size: 1.5rem;
  margin-top: 20px;
}

.games-content h3 {
  color: #ff3130;
  text-align: center;
  font-size: 2rem;
}

#games h2 {
  color: #ff3130;
  text-align: center;
  font-size: 2rem;
}

#games .title {
  margin-top: 10rem;
  font-size: 5rem;
}

@media (max-width: 768px) {
  .nav-links {
    display: none;
    flex-direction: column;
    background-color: #0c0c0c;
    position: absolute;
    top: 80px;
    right: 50px;
    width: 200px;
    padding: 20px;
    gap: 20px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
  }

  .nav-links.active {
    display: flex;
  }

  .hamburger {
    display: flex;
  }

  /* Canvia la direcció del flex: de fila a columna */
  .hero {
    flex-direction: column;
    padding: 30px;
    text-align: center; /* Centreja el text */
  }

  /* Redueix la mida del logo */
  .hero-logo img {
    width: 300px; /* Logo més petit per mòbil */
    margin: 0 0 30px 0; /* Espai sota el logo */
  }

  /* Redueix la mida del text */
  .hero-content h1 {
    font-size: 2.5em;
  }

  .hero-content h1 strong {
    font-size: 3em;
  }

  /* Redueix el paràgraf */
  .hero-content p {
    font-size: 1.2rem;
  }

  /* Botó una mica més petit */
  .button {
    padding: 0.8rem 1.5rem;
    font-size: 1rem;
  }
}
